@model Idea_Management.Models.post

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.post_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_like)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_like)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_dislike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_dislike)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
